<h1>Welcome#index</h1>
<% if user_signed_in? %>
  <p>The user is loged in.</p>
  <% if can? :manage, :Home %>
    <%= link_to "About", welcome_index_path   %>
  <% end %>
<% end %>
<p>Find me in app/views/welcome/index.html.erb</p>
