<h1>About#help</h1>
<div class="list-group">
	<%= link_to 'hq: quotation', quotations_path, class: "list-group-item active" %>
	<%= link_to 'bxc: reserve', quotations_path, class: "list-group-item" %>
	<%= link_to 'rq: datechange', quotations_path, class: "list-group-item" %>

</div>
